/* .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
}

.grid-item {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
} */

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

.item {
  & {
    flex: 1 0 30rem;
    height: 38rem;
    @media (max-width: 512px) {
      flex-grow: 0;
    }
  }
  &__position {
    width: 30%;
    height: 30rem;
    position: relative;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  &__image {
    height: 40%;
    scale: 40%;
    cursor: pointer;
  }
  &__image--hue {
    filter: hue-rotate(130deg);
  }
  &__detail {
    & {
      font-size: 1.6rem;
      padding-top: .8rem;
      text-align: left;
    }
    & p {
      margin: 0;
    }
  }
}